* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #b1c4df;
}
.card_list {
  display: flex;
  margin: 0 auto;
  width: 300px;
  height: 100vh;
}
.slider_wrapper {
  margin: auto;
  width: 100%;
  height: 80%;
}
.add_task {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.add_task > button{
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid white;
  font-size: 15px;
}
.add_task > input{
  border-radius: 5px;
  padding: 0 25px;
  border: 1px solid white;
  font-size: 15px;
}
img {
  width: 200px;
}
section > h3 {
  margin-top: 20px;
  font-size: 22px;
  text-transform: capitalize;
}
ul {
  margin-top: 20px;
  border-radius: 5px;
}
ul > li > .fa-times-circle{
  font-size: 30px;
}
li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px 15px;
  align-items: center;
  text-transform: capitalize;
  font-size: 20px;
}
.lista_task ul {
  background: lightgray;
}
section > p {
  font-size: 22px;
}
