* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #b1c4df;
}
img {
  width: 200px;
}
.card_list {
  width: 300px;
}
.lista_task ul {
  background: lightgray;
}
